{{ $boat := index .Site.Data.interviews .Params.boat }}
<h1 class="f4 bg-dark-blue white mv0 pv2 ph3">{{$boat.name}}</h1>
<div class="pa3 bt">
  <p class="f6 f5-ns lh-copy measure mv0">
    <dl class="lh-title pa4 mt0">
      <dt class="b">Conversion started</dt>
      <dd class="ml0">{{$boat.started}}</dd>
      <dt class="b">Boat</dt>
      <dd class="ml0">{{$boat.boat}} <a href="{{$boat.sailboatdata}}">sailboat data</a></dd>
      <dt class="b">Engine</dt>
      <dd class="ml0">{{$boat.engine}}</dd>
      <dt class="b">Batteries</dt>
      <dd class="ml0">{{$boat.batteries}}</dd>
      <dt class="b">Usage</dt>
      <dd class="ml0">{{$boat.usage}}</dd>
    </dl>
  </p>
</div>
