<h1 class="f4 bg-dark-blue white mv0 pv2 ph3">{{.name}}</h1>
<div class="pa3 bt">
  <p class="f6 f5-ns lh-copy measure mv0">
    <dl class="lh-title pa4 mt0">
      <dt class="b">Located in</dt>
      <dd class="ml0">{{.country}}</dd>
      <dt class="b">Products</dt>
      <dd class="ml0">{{.products}}</dd>
      <dt class="b">Website</dt>
      <dd class="ml0">{{.website}}</dd>
      <dt class="b">Stories</dt>
      <dd class="ml0">{{.stories}}</dd>
      <dt class="b">About</dt>
      <dd class="ml0">{{.blurb}}</dd>
    </dl>
  </p>
</div>
