<h1 class="f4 mv0 pv2 ph3">{{.name | markdownify}}</h1>
<div class="pa3 bt b--black-10">
  <div class="tc">
    <img src="{{.logo}}" class="mw-100" title="{{.name}} Logo ">
    <hr class="mw3 bb bw1 b--black-10">
  </div>
  <p class="f6 f5-ns lh-copy measure mv0">
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Located in</dt>
      <dd class="dib ml2 gray">{{.country}}</dd>
		</dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Website</dt>
      <dd class="dib ml2 gray"><a href="{{.website}}" target="_new">{{.website}}</a></dd>
		</dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b v-mid">Products</dt>
      <dd class="dib ml2 gray v-mid">
      {{ range .products}}
        <a href="{{$.Site.BaseURL}}/products/{{.}}">{{.}}</a><br>
      {{end}}
      </dd>
		</dl>
		<hr class="mw3 bb bw1 b--black-10">
    <dl class="f6 lh-title mv2">
      {{if .interviews}}
      <dt class="dib b v-mid">Interviews</dt>
      <dd class="dib ml2 gray v-mid">
      {{ range .interviews}}
      <a href="{{$.Site.BaseURL}}/interviews/{{lower . }}">{{ . }}</a><br>
      {{end}}
      </dd>
      {{end}}
    </dl>
  </p>
</div>
