{{ $featured_image := .Params.featured_image }}
{{ $featured_image := (trim $featured_image "/") | absURL }}

<article class="bg-white center w-auto ba b--black-10 mv4">
  <div class="pv2 ph3">
    <a href="{{ .Permalink }}" class="link">
      <h1 class="f6 ttu tracked">{{ .Title }}</h1>
    </a>
  </div>
  <a href="{{ .Permalink }}" class="link">
    <img src="{{ $featured_image }}" class="w-100 db" alt="{{ .Params.image_thanks }}">
  </a>
  <div class="pa3">
    {{ .Summary }}
    <small class="gray db pv2"><time>{{ .PublishDate.Format "January 2006" }}</time></small>
  </div>
</article>
